@media screen and (min-width 1200px) {
  header {
    display: flex;
  }
}

@media screen and (min-width: 576px) and (max-width: 1200px) {
  nav ul li {
    display: inline-block;
    padding: 1rem;
  }
  article h1 {
    font-size: 5rem;
  }

  article h2 {
    font-weight: bold;
    font-size: 2rem;
  }

  table {
    margin: 7rem auto;
  }
  button {
    padding: 1em 2em;
  }

  input {
    padding: 1.5rem;
    width: 70%;
  }
}

@media screen and (max-width: 576px) {
  nav ul li {
    display: inline-block;
  }
}
